In [19]:


import numpy
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [11]:
data=pd.read_csv('hvstat_africa_data_v1.0.csv')
data.head()

,fnid,country,country_code,admin_1,admin_2,product,season_name,planting_year,planting_month,harvest_year,harvest_month,crop_production_system,qc_flag,area,production,yield
0,AO2008A101,Angola,AO,Bengo,none,Banana,Main,2007,10,2008,4,All (PS),0,1364.0,19588.0,14.360704
1,AO2008A101,Angola,AO,Bengo,none,Banana,Main,2008,10,2009,4,All (PS),0,1364.0,20461.0,15.000733
2,AO2008A101,Angola,AO,Bengo,none,Banana,Main,2014,10,2015,4,All (PS),0,8706.0,222044.0,25.504709
3,AO2008A101,Angola,AO,Bengo,none,Banana,Main,2015,10,2016,4,All (PS),0,8706.0,222044.0,25.504709
4,AO2008A101,Angola,AO,Bengo,none,Banana,Main,2016,10,2017,4,All (PS),0,9549.7,233967.0,24.499932

In [12]:
numerical_data=pd.get_dummies(data)

numerical_data.head()

,planting_year,planting_month,harvest_year,harvest_month,qc_flag,area,production,yield,fnid_AO2008A101,fnid_AO2008A102,...,crop_production_system_dieri,crop_production_system_irrigated,crop_production_system_large_scale,crop_production_system_mechanized_rainfed,crop_production_system_none,crop_production_system_parastatal recessional,crop_production_system_recessional (PS),crop_production_system_riverine,crop_production_system_surface water,crop_production_system_traditional_rainfed
0,2007,10,2008,4,0,1364.0,19588.0,14.360704,True,False,...,False,False,False,False,False,False,False,False,False,False
1,2008,10,2009,4,0,1364.0,20461.0,15.000733,True,False,...,False,False,False,False,False,False,False,False,False,False
2,2014,10,2015,4,0,8706.0,222044.0,25.504709,True,False,...,False,False,False,False,False,False,False,False,False,False
3,2015,10,2016,4,0,8706.0,222044.0,25.504709,True,False,...,False,False,False,False,False,False,False,False,False,False
4,2016,10,2017,4,0,9549.7,233967.0,24.499932,True,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
X= numerical_data.drop(columns=['yield'])
Y= numerical_data['yield']

In [20]:
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.2)